@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300;
  }

  html.dark body {
    @apply bg-gray-950 text-emerald-50;
  }
}

@layer utilities {
  .animate-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}